PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE Meanings (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    meaningEng TEXT NOT NULL



);
INSERT INTO Meanings VALUES(1,'my house');
INSERT INTO Meanings VALUES(2,'your car');
INSERT INTO Meanings VALUES(3,'his phone');
CREATE TABLE Languages (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    languageEng TEXT NOT NULL,



    languageNative TEXT NOT NULL,



    languageEngTwoLetters TEXT NOT NULL



);
INSERT INTO Languages VALUES(1,'portuguese','Portugu├¬s','pt');
INSERT INTO Languages VALUES(2,'russian','đáĐâĐüĐüđ║đŞđ╣','ru');
INSERT INTO Languages VALUES(3,'polish','Polski','pl');
CREATE TABLE Expressions (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    text TEXT NOT NULL,



    sound_filename TEXT NOT NULL,



    language_id INTEGER NOT NULL,



    meaning_id INTEGER NOT NULL,



    FOREIGN KEY (language_id) REFERENCES Languages(id),



    FOREIGN KEY (meaning_id) REFERENCES Meanings(id)



);
INSERT INTO Expressions VALUES(1,'đ╝đżđ╣ đ┤đżđ╝','russian__my_house',2,1);
INSERT INTO Expressions VALUES(2,'Đéđ▓đżĐĆ đ╝đ░ĐłđŞđŻđ░','russian__your_car',2,2);
INSERT INTO Expressions VALUES(3,'đÁđ│đż ĐéđÁđ╗đÁĐäđżđŻ','russian__his_phone',2,3);
CREATE TABLE Phonetics (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    text TEXT NOT NULL,



    expression_id INTEGER NOT NULL,



    FOREIGN KEY (expression_id) REFERENCES Expressions(id)



);
INSERT INTO Phonetics VALUES(1,'ru phonetic exp1',1);
INSERT INTO Phonetics VALUES(2,'ru phonetic exp2',2);
INSERT INTO Phonetics VALUES(3,'ru phonetic exp3',3);
CREATE TABLE Packs (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    descriptionEng TEXT NOT NULL



);
INSERT INTO Packs VALUES(1,'possessive pronouns, with noun');
INSERT INTO Packs VALUES(2,'first date common questions');
INSERT INTO Packs VALUES(3,'first date common answers');
CREATE TABLE Evaluations (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    type TEXT CHECK (type IN ('Review', 'Pack', 'Selection', 'Test')) NOT NULL,



    start DATETIME NOT NULL,



    end DATETIME NOT NULL,



    size INTEGER NOT NULL



);
INSERT INTO Evaluations VALUES(1,'Pack','2024-06-27 10:00:00','2024-06-27 12:00:00',10);
INSERT INTO Evaluations VALUES(2,'Test','2024-06-28 09:00:00','2024-06-28 11:00:00',10);
INSERT INTO Evaluations VALUES(3,'Review','2024-06-29 13:00:00','2024-06-29 15:00:00',7);
CREATE TABLE MeaningPack (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    pack_id INTEGER NOT NULL,



    meaning_id INTEGER NOT NULL,



    FOREIGN KEY (pack_id) REFERENCES Packs(id),



    FOREIGN KEY (meaning_id) REFERENCES Meanings(id)



);
INSERT INTO MeaningPack VALUES(1,1,1);
INSERT INTO MeaningPack VALUES(2,1,2);
INSERT INTO MeaningPack VALUES(3,1,3);
CREATE TABLE EvaluationExpression (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,



    expression_id INTEGER NOT NULL,



    evaluation_id INTEGER NOT NULL,



    grade SMALLINT NOT NULL,



    duration INT NOT NULL,



    language_skill TEXT CHECK (language_skill IN ('speak', 'listen', 'write', 'read')) NOT NULL,



    FOREIGN KEY (expression_id) REFERENCES Expressions(id),



    FOREIGN KEY (evaluation_id) REFERENCES Evaluations(id)



);
INSERT INTO EvaluationExpression VALUES(1,'2025-06-23 13:23:07',80,1,2,12,'speak');
INSERT INTO EvaluationExpression VALUES(2,'2025-06-23 13:23:07',81,1,3,12,'speak');
INSERT INTO EvaluationExpression VALUES(3,'2025-06-23 13:23:07',82,1,3,10,'speak');
CREATE TABLE LanguagePackWithTitle (



    id INTEGER PRIMARY KEY AUTOINCREMENT,



    pack_id INTEGER NOT NULL,



    language_id INTEGER NOT NULL,



    title TEXT NOT NULL,



    FOREIGN KEY (pack_id) REFERENCES Packs(id),



    FOREIGN KEY (language_id) REFERENCES Languages(id)



);
INSERT INTO LanguagePackWithTitle VALUES(1,1,4,'Possessive pronouns (2 words)');
INSERT INTO LanguagePackWithTitle VALUES(2,2,4,'First date common questions');
INSERT INTO LanguagePackWithTitle VALUES(3,3,4,'First date common answers');
INSERT INTO sqlite_sequence VALUES('Meanings',56);
INSERT INTO sqlite_sequence VALUES('Languages',4);
INSERT INTO sqlite_sequence VALUES('Expressions',112);
COMMIT;
